
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myOrderLineLabel" data-translate="jWebShopApp.orderLine.home.createOrEditLabel">Create or edit a Order Line</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.orderLine.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.orderLine.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jWebShopApp.orderLine.qty" for="field_qty">Qty</label>
            <input type="number" class="form-control" name="qty" id="field_qty"
                    ng-model="vm.orderLine.qty"
                     />
        </div>

        <div class="form-group">
            <label data-translate="jWebShopApp.orderLine.orderObject" for="field_orderObject">Order Object</label>
            <select class="form-control" id="field_orderObject" name="orderObject" ng-model="vm.orderLine.orderObject" ng-options="orderObject as orderObject.id for orderObject in vm.orderobjects track by orderObject.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="jWebShopApp.orderLine.product" for="field_product">Product</label>
            <select class="form-control" id="field_product" name="product" ng-model="vm.orderLine.product" ng-options="product as product.id for product in vm.products track by product.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
